<div class="container main-container">
    <div class="well">
        <p>Hi, the app will use the $cache and $cookieStore services to manage the caching of data.</p>
        <p>A reminder to add one of the following 'remove' icons...</p>
        <i class="icon-remove icon-2x"></i>
        <i class="icon-remove-circle icon-2x"></i>
        <i class="icon-remove-sign icon-2x"></i>
    </div>
    <div class="well">
        <p>Hi, the app will use the $cache and $cookieStore services to manage the caching of data.</p>
        <p>A reminder to add one of the following 'remove' icons...</p>
        <i class="icon-remove icon-2x"></i>
        <i class="icon-remove-circle icon-2x"></i>
        <i class="icon-remove-sign icon-2x"></i>
    </div>
          <div class="row">
              <div class="col-md-6"><panel ctrl="MatterInfoCtrl"></panel></div>
              <div class="col-md-6"><panel-matterlifetodate ctrl="MatterOverviewLifeToDateCtrl"></panel-matterlifetodate></div>
              <div class="col-md-6"><panel-workinprogress ctrl="WorkInProgressCtrl"></panel-workinprogress></div>
              <div class="col-md-6"><panel-unpaidinvoice ctrl="UnpaidInvoicesCtrl"></panel-unpaidinvoice></div>
          </div>
</div>