<div class="off-canvas-container">
    <menu-side>

    </menu-side>
    <a ng-click="toggleMenuState()" ng-class="maskCss"></a>
    <div id="content" ng-class=mainCss>
        <nav class="off-canvas-navbar off-canvas-navbar-default">
            <div class="off-canvas-nav">
                <a ng-click="toggleMenuState()"><i class="btn icon-reorder navbar-font-height"></i></a>
            </div>
            <div class="off-canvas-nav">
                <a ng-click="toggleMenuState()">{{selectedMatter}}</a>
            </div>
        </nav>
        <div>
            <ng-view></ng-view>
        </div>
    </div>
</div>