.off-canvas-container {
  height: 100%;
}

/* General styles for all menus */
.k-menu {
  position: fixed;
}
/* Orientation-dependent styles for the content of the menu */
.k-menu-vertical {
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 1000;
  background-color: #333333;
}
.k-menu-section {
  color: #faf9fd;
  margin-top: 10px;
  padding: 10px;
  border-bottom: solid 1px #727272;
}
.k-menu-section-title {
  color: #727272;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}
.k-menu-textbox {
  width: 80%;
}
/* Vertical menu that slides from the left or right */
.k-menu-left {
  left: -300px;
}
.k-menu-left.k-menu-open {
  left: 0px;
}
/* Push classes applied to the main div */
.k-main-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
  height: 100%;
}
.k-main-push-toright {
  left: 300px;
}
.k-main-mask {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: black;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=70);
}
.k-main-mask-menu-open {
  visibility: visible;
  left: 300px;
}
/* Transitions */
.k-menu,
.k-main-push,
.k-main-mask {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*html {*/
  /*height: 100%;*/
/*}*/
body {
  height: 100%;
  width: 100%;
}
